<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    <!--  开启注解扫描,不扫描Controller注解 -->
    <context:component-scan base-package="com.leave">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--  配置数据源  -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="sa"/>
        <property name="password" value="123"/>
        <property name="url" value="jdbc:sqlserver://localhost:1433;database=Leave"/>
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
    </bean>
    <!--  spring事务管理器  -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 启用事务注解 -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!-- 创建sqlSessionFactory对象 -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- MyBatis全局配置文件的位置 -->
<!--        <property name="configLocation" value="classpath:mybatis.xml"/>-->
        <!-- 指定mapper映射文件的位置 -->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
    </bean>
    <!--  扫描所有的mapper接口,让这些mapper能够自动注册  -->
<!--    <mybatis-spring:scan base-package="com.leave.dao"/>-->
    <!--  旧写法  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.leave.dao"/>
    </bean>
</beans>